@page
@model CustomerRelationshipManagment.Views.Main.TestModel
@{
}

<h1>Home page</h1>

<h2>
    <ul>
        <li>
            <a href="./User">Users</a>
        </li>
        <li>
            <a href="./Company">Companies</a>
        </li>
        <li>
            <a href="./Role">Roles</a>
        </li>
        <li>
            <a href="./Industry">Industries</a>
        </li>
        <li>
            <a href="./TradeNote">Trade notes</a>
        </li>
        <li>
            <a href="./ContactPerson">Contact people</a>
        </li>
    </ul>
</h2>

